github:
新建repository
git init
添加.gitignore
git add .


cd blog
mkdir frontend
cd frontend
npx create-react-app .
    说明:create react app inside frontend folder# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
npm install
    说明: after creating react app, package.json is generated, run npm install to download and install dependencies into node_modules.folder
npm start
    http://localhost:3000



# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE files
.vscode/
.idea/
*.iml